html {
  scroll-behavior: smooth;
}


body {
  padding: 0;
  margin: 0;
  background-color: rgb(26, 25, 25);
}


/* Navbar Bootstrap */
.barra {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(56, 55, 55);
}

.header .bg-nav {
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: end;
  align-items: end;
}

.container-fluid {
  background-color: rgb(56, 55, 55);


}

.nav-link {
  color: rgb(255, 255, 255);

}

/* main */
#inicio {
  height: 80vh;
  background-color: rgb(26, 25, 25);
  color: whitesmoke;
  margin-top: 40vh;
  margin-left: 50px;
  font-family: "Nunito", sans-serif;

  font-size: x-large;
}




#inicio h2 {
  font-size: larger;
}

#inicio p {
  font-weight: 900;
  font-size: medium;
  margin-top: 0;
  color: grey;
}


#sobremi {
  background-color: azure;
  max-width: 500px;
  justify-content: center;


  margin-left: 20px;
}