html {
  scroll-behavior: smooth;

}


body {
  padding: 0;
  margin: 0;
  background-color: rgb(1, 14, 32);
}


/* Navbar Bootstrap */
.barra {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(19, 18, 18);
  border-bottom: 1px solid rgb(27, 121, 184);
}

.header .bg-nav {
  background-color: rgb(1, 14, 32);
  display: flex;
  justify-content: end;
  align-items: end;
}

.container-fluid {
  background-color: rgb(1, 14, 32);


}


.links {
  color: rgb(255, 255, 255);


}

.links:hover {
  color: rgb(27, 121, 184);

}



/* main */
#inicio {
  height: 80vh;
  background-color: rgb(1, 14, 32);
  color: whitesmoke;
  margin-top: 40vh;
  margin-left: 50px;

  font-family: "Nunito", sans-serif;
  padding: 25px;
  font-size: x-large;

}


/* box-shadow: 5px 6px 42px 0px rgba(27,121,184,0.75); */

#inicio h2 {
  font-size: larger;
}

#inicio p {
  font-weight: 900;
  font-size: medium;
  margin-top: 0;
  color: grey;
  color: rgb(27, 121, 184);

}

#sobremi {
  margin-left: 70px;
  margin-bottom: 100px;

}

#sobremi h2 {
  margin-bottom: 25px;
  color: rgb(27, 121, 184);
}

#habilidades {
  margin-left: 70px;

}


.frontend {
  margin-bottom: 500px
}

.frontend h2 {
  margin-bottom: 25px;
  color: rgb(27, 121, 184);
}

.parrafo {
  max-width: 700px;
  color: whitesmoke;
}


.frontend img {
  background-color: rgb(1, 14, 32);
  width: 50px;
  justify-content: center;
}

.Name-icon {
  display: flex;

}

#html {
  margin: 0 15px;
}

#css {
  margin: 0 40px;
}